* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.hide {
  display: none !important;
}

.messages li,
.carrossel li {
  display: flex;
  margin-bottom: 20px;
  margin-right: 15px;
  align-items: flex-start;
}

.messages li div,
.carrossel li div {
  padding-left: 15px;
  text-align: left;
  position: relative;
}

.messages li div h4,
.carrossel li div h4 {
  white-space: nowrap;
  background: #006D77;
  font-size: 10px;
  padding: 5px;
  margin: 0;
  position: absolute;
  left: -14px;
  top: -14px;
  color: #FFF;
}

.messages li div p,
.carrossel li div p {
  background: #83c5be;
  color: #FFF;
  padding: 10px 10px 10px 15px;
  position: relative;
  left: -10px;
  z-index: -1;
  font-size: 14px;
}

.messages li img,
.carrossel li img {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid #006D77;
  position: relative;
  z-index: 2;
}

.carrossel {
  overflow: hidden;
}
.carrossel ul {
  display: flex;
  width: fit-content;
  animation: carrosselAnimated 10s infinite;
}

@keyframes carrosselAnimated {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
