* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.hide {
  display: none !important;
}

.messages li,
.carrossel li {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.messages li div,
.carrossel li div {
  padding-left: 15px;
  text-align: left;
  position: relative;
}

.messages li div h4,
.carrossel li div h4 {
  white-space: nowrap;
  background: #006d77;
  font-size: 10px;
  padding: 5px;
  margin: 0;
  position: absolute;
  left: -16px;
  top: -12px;
  color: #fff;
  border-radius: 6px;
}

.messages li div p,
.carrossel li div p {
  background: #83c5be;
  color: #fff;
  padding: 10px 10px 10px 15px;
  position: relative;
  left: -24px;
  z-index: -1;
  font-size: 14px;
  top: 4px;
  border-radius: 6px;
}

.messages li img,
.carrossel li img {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid #006d77;
  position: relative;
  z-index: 2;
}

.carrossel {
  overflow: hidden;
}
.carrossel ul {
  display: flex;
  width: fit-content;
  animation: carrosselAnimated 10s infinite;
}

@keyframes carrosselAnimated {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
